# Git Ignore for Fractal Terrain Generator
# Author : Luke Familo

# User specific options, individuals can keep track of this file if need be.
*.suo

# File used for things like "find declaration," rebuilt on project startup, so not necessary to commit.
*.sdf
*.opensdf

# Files regarding the visual studio profiler, These get to be a gig after ONE frame, so lets not keep them around.
*.psess
*.vsp

# This folder has something to do with intellisense, but again, we dont need them.
ipch

# Folders used by compiler.
[Dd]ebug
[Rr]elease